@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-Thin.ttf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-ThinItalic.ttf');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-MediumItalic.ttf');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-LightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-ExtraBold.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-ExtraBoldItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya-Sans';
    src: url('../TR/FONTS/AlegreyaSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya-Sans-Black';
    src: url('../TR/FONTS/AlegreyaSans-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya-Sans-Black';
    src: url('../TR/FONTS/AlegreyaSans-BlackItalic.ttf');
    font-weight: normal;
    font-style: italic;
}