.banner {
  display: block;
  box-sizing: border-box;
  z-index: -10;
  height:calc(100% - 90px);
  background-image: url('../2369.jpg');
  background-position: auto;
  background-size: 100% 120%; 
}

.banner__margin {
  height: 0px;
}
